<div class="col-sm-4 col-md-3 desktop-subnav" style="line-height: 2em;">

    <ul class="ln-nav ln-nav-list">
        <li class="init-arrow-down">
            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Balance</b></span> <span class="toggle-submenu"></span> </a>
            <a class="submenu-link collapse-link" href="javascript:void(0);"></a>
            <ul class="ln-submenu">
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 1</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 2</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 3</a> </li>
            </ul>
        </li>
        <li class="init-un-active"> <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Immune</b></span> </a> </li>
        <li class="init-arrow-down">
            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Weight Control</b></span> <span class="toggle-submenu"></span> </a>
            <ul class="ln-submenu">
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 1</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 2</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 3</a> </li>
            </ul>
        </li>
        <li class="init-arrow-down">
            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Skin</b></span> <span class="toggle-submenu"></span> </a>
            <ul class="ln-submenu">
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 1</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 2</a> </li>
                <li> <a class="submenu-link" href="javascript:void(0)">-Menu 3</a> </li>
            </ul>
        </li>
                @*Active link:
        First level:    <li class="arrow-up-active init-arrow-up active">

        Second level:   <li class="arrow-up-active init-arrow-up">
                            <ul class="ln-submenu" style="display: block;">
                                <li class="active">
                *@
        <li class="arrow-up-active init-arrow-up">
            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Beverages</b></span> <b></b> </a>
            <ul class="ln-submenu" style="display: block;">
                <li class="active"> <a href="javascript:void(0)">-Cups & Glasses</a> </li>
                <li> <a href="javascript:void(0)">-Coffee pods</a> </li>
                <li> <a href="javascript:void(0)">-Espresso machines</a> </li>
                <li> <a href="javascript:void(0)">-Campaigns</a> </li>
                <li> <a href="javascript:void(0)">-Tea</a> </li>
                <li> <a href="javascript:void(0)">-Sweets</a> </li>
                <li> <a href="javascript:void(0)">-Accessories</a> </li>
                <li> <a href="javascript:void(0)">-Coffee pods Big pack</a> </li>
                <li> <a href="javascript:void(0)">-Tea Big pack</a> </li>
            </ul>
        </li>
    </ul>

    <EM>
        <ul class="ln-nav ln-nav-list">
            <li class="init-un-active"><a class="submenu-link">Most popular</a></li>
            <li class="init-un-active"><a class="submenu-link">Special offers</a></li>
            <li class="init-un-active"><a class="submenu-link">News</a></li>
            <li class="init-un-active"><a class="submenu-link">Subscription products</a></li>
            <li class="init-un-active"><a class="submenu-link">Promotional material</a></li>
        </ul>
</EM>


           

</div>
