

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="ie9"> <![endif]-->
<html lang="en">

<body>
    <div class="container-fluid body-content" style="min-height: 700px;">
        <div class="container body-margin">
            <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b style="font-size: 16px; line-height: 22px;">Personal information:</b>
                                    </div>
                                </div>
                            </div>
                            <form action="/site/US/en-us/Shopping/OrderDetails" method="post">
                                <div class="panel-body">
                                    <div id="view-personalinformation-6959a1d8-2c32-4b81-a277-ba305cc0c12a" class="view-personalinformation">
                                        <div class="row cart-header" style="padding-top:20px;">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                The country you have selected is :
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                Select Language:
                                            </div>
                                        </div>
                                        <div class="row checkout-row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-headline">
                                                <div class="cart-header-mobile" style="padding-top:20px;">
                                                    The country you have selected is :
                                                </div>
                                                <h2>United States</h2>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="cart-header-mobile" style="padding-top:20px;">
                                                    Select Language:
                                                </div>
                                                <div id="view-languages-391369b0-9c85-48d7-ab7e-1325f4d356cc">
                                                    <label class="control-label">Preferred Language</label>
                                                    <select class="form-control lstLanaguageID" id="Customer_LanguageID_Language" name="Customer.LanguageID.Language">
                                                        <option selected="selected" value="0">English</option>
                                                        <option value="2">German</option>
                                                        <option value="12">Finnish</option>
                                                        <option value="13">Norsk</option>
                                                        <option value="18">Dutch</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row cart-header" style="padding-top:20px;">
                                            <div class="col-xs-12">
                                                Personal Information:
                                            </div>
                                        </div>
                                        <div class="row checkout-row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="cart-header-mobile" style="padding-top:20px;">
                                                    Personal Information:
                                                </div>
                                                <input aria-required="true" class="form-control" data-val="true" data-val-required="First Name is required" id="Customer_FirstName" name="Customer.FirstName" placeholder="First Name" required="true" role="textbox" type="text" value="" />
                                                <span class="field-validation-valid" data-valmsg-for="Customer.FirstName" data-valmsg-replace="true"></span>
                                                <input aria-required="true" class="form-control" data-val="true" data-val-required="Last Name is required" id="Customer_LastName" name="Customer.LastName" placeholder="Last Name" required="true" role="textbox" type="text" value="" />
                                                <span class="field-validation-valid" data-valmsg-for="Customer.LastName" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">+1</span>
                                                        <input class="form-control" data-val="true" data-val-phoneregex="Please enter a valid Phone Number (ex: 123-456-7890)" data-val-phoneregex-regex="^[0-9\.\-]{8,20}$" data-val-required="The Mobile Phone field is required." id="Customer_MobilePhone" name="Customer.MobilePhone" placeholder="Mobile Phone (ex: 123456-127)" required="required" type="text" value="" />
                                                    </div>
                                                    <span class="field-validation-valid" data-valmsg-for="Customer.MobilePhone" data-valmsg-replace="true"></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">+1</span>
                                                        <input class="form-control" data-val="true" data-val-phoneregex="Please enter a valid Phone Number (ex: 123-456-7890)" data-val-phoneregex-regex="^[0-9\.\-]{8,20}$" id="Customer_PrimaryPhone" name="Customer.PrimaryPhone" placeholder="House Phone (ex: 123456-127)" type="text" value="" />
                                                    </div>
                                                    <span class="field-validation-valid" data-valmsg-for="Customer.PrimaryPhone" data-valmsg-replace="true"></span>
                                                    <input aria-required="true" class="form-control" data-val="true" data-val-regex="This is not a correct email format" data-val-regex-pattern="^[a-z0-9!#$%&amp;&#39;*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;&#39;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" data-val-required="The Email field is required." id="Customer_Email" name="Customer.Email" placeholder="Email" required="true" role="textbox" type="email" value="" />
                                                    <span class="field-validation-valid" data-valmsg-for="Customer.Email" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row cart-header" style="padding-top:20px;">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Shipping Address:
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            Select a billing address:
                                        </div>
                                    </div>
                                    <div class="row checkout-row" data-cart-type="Order">


                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="cart-header-mobile" style="padding-top:20px;">
                                                Shipping Address:
                                            </div>
                                            <div class="NewAddressContainer" data-role="address-container" data-address-type="New" data-type="shipping" style="display:none">
                                                <div class="new-shipping-editor">
                                                    <div class="view-address" id="view-address-e6fd5be8-60f0-44da-8765-433ec340de82">
                                                        <div class="form-group">
                                                            <input class="form-control" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="ShippingAddress_Address1" name="ShippingAddress.Address1" placeholder="Street Address" type="text" value="" />
                                                            <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address1" data-valmsg-replace="true"></span>
                                                            <div class="form-group" style="display: none;">
                                                                <div class="space-5"></div>
                                                                <input class="form-control" data-role="Address2" id="ShippingAddress_Address2_e6fd5be8-60f0-44da-8765-433ec340de82" name="ShippingAddress.Address2" placeholder="Apartment, suite, unit, building, floor, etc." type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Address2" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group nomargin">
                                                            <div class="col-sm-4 address-col">
                                                                <input class="form-control" data-role="City" data-val="true" data-val-required="City is required" id="ShippingAddress_City" name="ShippingAddress.City" placeholder="City" type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.City" data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-sm-4 address-col">
                                                                <label class="control-label visible-xs" for="ShippingAddress_State">State</label>
                                                                <select class="form-control" data-role="State" data-val="true" data-val-required="State is required" id="ShippingAddress_State_e6fd5be8-60f0-44da-8765-433ec340de82" name="ShippingAddress.State">
                                                                    <option value="AL">Alabama</option>
                                                                </select>
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.State" data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-sm-4 address-col">
                                                                <input class="form-control" data-role="Zip" data-val="true" data-val-required="Zipcode is required" data-val-zipregex="Vinsamlega sláðu inn gilt póstnúmer (t.d:" data-val-zipregex-regex="^[0-9a-zA-Z]{4,10}" id="ShippingAddress_Zip" name="ShippingAddress.Zip" placeholder="Zipcode" type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="ShippingAddress.Zip" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="space-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="cart-header-mobile" style="padding-top:20px;">
                                                Select a billing address:
                                            </div>
                                            <h4>Dropship</h4>
                                            <div class="checkbox">
                                                <label for="DropShip">
                                                    <input type="checkbox" id="DropShip" name="DropShip" data-role="dropship" data-type="dropship" data-cart-type="Order" />
                                                    Dropship first order?
                                                </label>
                                            </div>
                                            <div class="DropShipContainer" data-role="address-container" data-address-type="New" data-type="dropship" style="display:none">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input aria-required="true" class="form-control" data-val="true" data-val-required="First Name is required" id="DropShipAddress_FirstName" name="DropShipAddress.FirstName" placeholder="First Name" required="true" role="textbox" type="text" value="" />
                                                        <span class="field-validation-valid" data-valmsg-for="DropShipAddress.FirstName" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input aria-required="true" class="form-control" data-val="true" data-val-required="Last Name is required" id="DropShipAddress_LastName" name="DropShipAddress.LastName" placeholder="Last Name" required="true" role="textbox" type="text" value="" />
                                                        <span class="field-validation-valid" data-valmsg-for="DropShipAddress.LastName" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="new-billing-editor">
                                                    <div class="view-address" id="view-address-e65db6a4-4af9-4f8f-a22b-a6ee4f08d3e8">
                                                        <input data-role="AddressType" data-val="true" data-val-required="The AddressType field is required." id="DropShipAddress_AddressType" name="DropShipAddress.AddressType" type="hidden" value="New" /><input data-role="Country" data-val="true" data-val-required="Country is required" id="DropShipAddress_Country" name="DropShipAddress.Country" type="hidden" value="US" />        
                                                        <div class="form-group">
                                                            <input class="form-control" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="DropShipAddress_Address1" name="DropShipAddress.Address1" placeholder="Street Address" type="text" value="" />
                                                            <span class="field-validation-valid" data-valmsg-for="DropShipAddress.Address1" data-valmsg-replace="true"></span>
                                                            <div class="form-group" style="display: none;">
                                                                <div class="space-5"></div>
                                                                <input class="form-control" data-role="Address2" id="DropShipAddress_Address2_e65db6a4-4af9-4f8f-a22b-a6ee4f08d3e8" name="DropShipAddress.Address2" placeholder="Apartment, suite, unit, building, floor, etc." type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="DropShipAddress.Address2" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group nomargin">
                                                            <div class="col-sm-4 address-col">
                                                                <input class="form-control" data-role="City" data-val="true" data-val-required="City is required" id="DropShipAddress_City" name="DropShipAddress.City" placeholder="City" type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="DropShipAddress.City" data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-sm-4 address-col">
                                                                <label class="control-label visible-xs" for="DropShipAddress_State">State</label>
                                                                <select class="form-control" data-role="State" data-val="true" data-val-required="State is required" id="DropShipAddress_State_e65db6a4-4af9-4f8f-a22b-a6ee4f08d3e8" name="DropShipAddress.State">
                                                                    <option value="AL">Alabama</option>
                                                                </select>
                                                                <span class="field-validation-valid" data-valmsg-for="DropShipAddress.State" data-valmsg-replace="true"></span>
                                                            </div>
                                                            <div class="col-sm-4 address-col">
                                                                <input class="form-control" data-role="Zip" data-val="true" data-val-required="Zipcode is required" data-val-zipregex="Vinsamlega sláðu inn gilt póstnúmer (t.d:" data-val-zipregex-regex="^[0-9a-zA-Z]{4,10}" id="DropShipAddress_Zip" name="DropShipAddress.Zip" placeholder="Zipcode" type="text" value="" />
                                                                <span class="field-validation-valid" data-valmsg-for="DropShipAddress.Zip" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="space-10"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input name="__RequestVerificationToken" type="hidden" value="ZukOZ534KBWFbD_o5a8rdSi1uqSgI6-pR9JjwfeHlzsoxzLb8HZfRlC5vXxscnMI2gM0ONCe10HmueVb2jbCwZagEKU1" />
                                        </div>

                                    </div>

                                    <div class="row checkout-row">@*NEW*@
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">@*NEW*@
                                            <h3>AutoOrder</h3>
                                            <div class="checkbox">
                                                <label for="UseSameShippingAddress">
                                                    <input type="checkbox" id="UseSameShippingAddress" name="UseSameShippingAddress" data-role="usesameaddress" value="value" checked />

                                                    Use my main address as my shipping address
                                                </label>
                                            </div>
                                            <div id="auto-order-address" style="display:none">
                                                <div class="row cart-header" style="padding-top:20px;">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        Shipping Address:
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        Select a billing address:
                                                    </div>
                                                </div>
                                                <div class="row checkout-row" data-cart-type="AutoOrder">
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <div class="cart-header-mobile" style="padding-top:20px;">
                                                            Shipping Address:
                                                        </div>
                                                        <div class="NewAddressContainer" data-role="address-container" data-address-type="New" data-type="shipping" style="display:none">
                                                            <div class="new-shipping-editor">
                                                                <div class="view-address" id="view-address-f9c6bf3c-4dea-4913-8bef-b10d0d93bf9c">
                                                                    <input data-role="AddressType" data-val="true" data-val-required="The AddressType field is required." id="AutoOrderShippingAddress_AddressType" name="AutoOrderShippingAddress.AddressType" type="hidden" value="New" /><input data-role="Country" data-val="true" data-val-required="Country is required" id="AutoOrderShippingAddress_Country" name="AutoOrderShippingAddress.Country" type="hidden" value="US" />        <div class="form-group">

                                                                        <input class="form-control" data-role="Address1" data-val="true" data-val-required="Street Address is required" id="AutoOrderShippingAddress_Address1" name="AutoOrderShippingAddress.Address1" placeholder="Street Address" type="text" value="" />
                                                                        <span class="field-validation-valid" data-valmsg-for="AutoOrderShippingAddress.Address1" data-valmsg-replace="true"></span>

                                                                        <div class="form-group" style="display: none;">
                                                                            <div class="space-5"></div>
                                                                            <input class="form-control" data-role="Address2" id="AutoOrderShippingAddress_Address2_f9c6bf3c-4dea-4913-8bef-b10d0d93bf9c" name="AutoOrderShippingAddress.Address2" placeholder="Apartment, suite, unit, building, floor, etc." type="text" value="" />
                                                                            <span class="field-validation-valid" data-valmsg-for="AutoOrderShippingAddress.Address2" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group nomargin">
                                                                        <div class="col-sm-4 address-col">
                                                                            <input class="form-control" data-role="City" data-val="true" data-val-required="City is required" id="AutoOrderShippingAddress_City" name="AutoOrderShippingAddress.City" placeholder="City" type="text" value="" />
                                                                            <span class="field-validation-valid" data-valmsg-for="AutoOrderShippingAddress.City" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                        <div class="col-sm-4 address-col">
                                                                            <label class="control-label visible-xs" for="AutoOrderShippingAddress_State">State</label>
                                                                            <select class="form-control" data-role="State" data-val="true" data-val-required="State is required" id="AutoOrderShippingAddress_State_f9c6bf3c-4dea-4913-8bef-b10d0d93bf9c" name="AutoOrderShippingAddress.State">
                                                                                <option value="AL">Alabama</option>
                                                                            </select>
                                                                            <span class="field-validation-valid" data-valmsg-for="AutoOrderShippingAddress.State" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                        <div class="col-sm-4 address-col">
                                                                            <input class="form-control" data-role="Zip" data-val="true" data-val-required="Zipcode is required" data-val-zipregex="Vinsamlega sláðu inn gilt póstnúmer (t.d:" data-val-zipregex-regex="^[0-9a-zA-Z]{4,10}" id="AutoOrderShippingAddress_Zip" name="AutoOrderShippingAddress.Zip" placeholder="Zipcode" type="text" value="" />
                                                                            <span class="field-validation-valid" data-valmsg-for="AutoOrderShippingAddress.Zip" data-valmsg-replace="true"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="space-10"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                        <div class="cart-header-mobile" style="padding-top:20px;">
                                                            Select a billing address:
                                                        </div>
                                                        <input name="__RequestVerificationToken" type="hidden" value="7DINY-qfprEsShRe94jYqPkk8TXBbGLeoNTNmavOlfNc6cMEB5dWRY7VVDepmPDxjoOVR29Fu2pkiVOKn9sMhWpjmig1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>@*NEW*@
                                    </div>@*NEW*@

                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
        </div>
    </div>
</body>
</html>