
@{
    ViewBag.Title = "CompleteRegistration";
}
<form>
    <div class="container body-margin">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 cart-headline">
                    <h2>Hello <span style="color: #88b027;">Anders</span>, please complete your order.</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 cart-button">
                    <button class="btn zinzino-btn" style="width: 100%;">CONTINUE SHOPPING</button>
                </div>
            </div>
            <div class="small-spacer"></div>
        </div>
        <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">

        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">These items will be sent to you today</b>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="row cart-header">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                    Article
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        Description
                                    </div>
                                    <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                                        Price
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                        Qty
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                        Total
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">

                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Zinzino Dosage Cups, 10 pcs
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-7 col-sm-5 col-md-2 col-lg-2 cart-responsive-col2">
                                            12 395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-totals-row">
                                <div class="hidden-xs hidden-sm col-md-6 col-lg-6" style="min-height: 50px;">

                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cart-total-price">
                                    <span>Your total Price</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cart-total-price">
                                    <span class="total-price">1 399,00 kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-spacer"></div>
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">Items in your auto order</b>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="row cart-header">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                                    Article
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        Description
                                    </div>
                                    <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                                        Price
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                        Qty
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                        Total
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">

                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Zinzino Dosage Cups, 10 pcs
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-7 col-sm-5 col-md-2 col-lg-2 cart-responsive-col2">
                                            12 395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-row">
                                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1" style="min-height: 50px;">
                                    <div class="cart-thumbnail"><img src="~/Content/images/balance-oil-capsules.png" /></div>
                                </div>
                                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11" style="min-height: 50px;">
                                    <div class="cart-responsive-row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-responsive-col1">
                                            Coffee Sub. Royal Blend 50 pods/month - start order
                                        </div>
                                        <div class="hidden-xs col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <input type="text" class="form-control cart-input" value="1" />
                                        </div>
                                        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 cart-responsive-col2">
                                            395,00 kr
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 cart-responsive-col2">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row cart-totals-row">
                                <div class="hidden-xs hidden-sm col-md-6 col-lg-6" style="min-height: 50px;">

                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cart-total-price">
                                    <span>Your total Price</span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 cart-total-price">
                                    <span class="total-price">1 399,00 kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-spacer"></div>
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">Personal information:</b>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Shipping address:
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Billing address:
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Shipping address:
                                    </div>
                                    <input type="text" placeholder="First name" class="form-control contact-form" />
                                    <input type="text" placeholder="Last name" class="form-control contact-form" />
                                    <input type="text" placeholder="Street address" class="form-control contact-form" style="margin: 10px 0 0;" />
                                    <div style="display:table; width:100%;">
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; width: 30%; padding-right: 5px;"><input type="text" placeholder="Zip" class="form-control contact-form" /></div>
                                            <div style="display:table-cell; width: 70%; padding-left: 5px;"><input type="text" placeholder="City" class="form-control contact-form" /></div>
                                        </div>
                                    </div>
                                    <input type="text" placeholder="Telephone" class="form-control contact-form" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Billing address:
                                    </div>
                                    <div class="billing-address-edit hide-billing-address">
                                        <input type="text" value="Anders" placeholder="First name" class="form-control contact-form" />
                                        <input type="text" value="Guttormsen" placeholder="Last name" class="form-control contact-form" />
                                        <input type="text" value="Storgatan 17B" placeholder="Street address" class="form-control contact-form" style="margin: 10px 0 0;" />
                                        <div style="display:table; width:100%;">
                                            <div style="display:table-row;">
                                                <div style="display:table-cell; width: 30%; padding-right: 5px;"><input type="text" value="434 41" placeholder="Zip" class="form-control contact-form" /></div>
                                                <div style="display:table-cell; width: 70%; padding-left: 5px;"><input type="text" value="KUNGSBACKA" placeholder="City" class="form-control contact-form" /></div>
                                            </div>
                                        </div>
                                        <input type="text" value="+46 709 54 51 56" placeholder="Telephone" class="form-control contact-form" />
                                    </div>
                                    <div class="billing-address-selected">
                                        Anders Guttormsen<br />
                                        Storgatan 17B<br />
                                        434 41 KUNGSBACKA<br />
                                        <br />
                                        +46 709 54 51 56<br />
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: right;">
                                    <button class="btn zinzino-btn" id="change-billing-address">CHANGE BILLING ADDRESS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="small-spacer"></div>
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">Payment:</b>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Choose form of payment:
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="selectedPaymentMethod" id="gridRadios1" value="option1" checked>
                                                    Visa / Mastercard
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="selectedPaymentMethod" id="gridRadios2" value="option2">
                                                    Collector
                                                </label>
                                            </div>
                                            <div class="radio ">
                                                <label>
                                                    <input type="radio" name="selectedPaymentMethod" id="gridRadios3" value="option3">
                                                    Papirfaktura
                                                </label>
                                            </div>
                                            <div class="radio ">
                                                <label>
                                                    <input type="radio" name="selectedPaymentMethod" id="gridRadios4" value="option4">
                                                    Papirfaktura
                                                </label>
                                            </div>
                                            <div class="radio ">
                                                <label>
                                                    <input type="radio" name="selectedPaymentMethod" id="gridRadios5" value="option5">
                                                    E-post faktura
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Lorem ipsum bla bla text will<br />

                                    automatically appear here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="row cart-row">
                <div class="col-xs-12" id="sticky-col">
                    <div id="sticker">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b style="font-size: 16px; line-height: 22px;">Todays order:</b>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-body">
                                <div class="row" style="padding-top:7px;">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Total:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        967 kr
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Shipping:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        47 kr
                                    </div>
                                </div>
                                <div class="row cart-sidebar-totals-row">
                                    <div class="col-xs-7 col-sm-12 col-md-7 col-lg-7 cart-sidebar-total-price">
                                        Total (incl. MVA):
                                    </div>
                                    <div class="col-xs-5 col-sm-12 col-md-5 col-lg-5 cart-sidebar-total-price">
                                        <span class="total-price">1 399,00 kr</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b style="font-size: 16px; line-height: 22px;">Your auto order:</b>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-body">
                                <div class="row" style="padding-top:7px;">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Frequency:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        Bi-monthly
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Start date:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        23.04.16
                                    </div>
                                </div>
                                <div class="row cart-sidebar-totals-row">

                                </div>

                                <div class="row" style="padding-top:7px;">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Total:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        967 kr
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        Shipping:
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        47 kr
                                    </div>
                                </div>
                                <div class="row cart-sidebar-totals-row">
                                    <div class="col-xs-7 col-sm-12 col-md-7 col-lg-7 cart-sidebar-total-price">
                                        Total (incl. MVA):
                                    </div>
                                    <div class="col-xs-5 col-sm-12 col-md-5 col-lg-5 cart-sidebar-total-price">
                                        <span class="total-price">1 399,00 kr</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="shipNextDelivery" id="shipNextDelivery">
                                Ship todays order with next delivery
                            </label>
                        </div>

                        <button class="btn zinzino-btn" style="width:100%">*FIND REFRENCE</button>
                        *In order to shop with Zinzino you have
                        to select a refrence.

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="acceptTerms" id="acceptTerms">
                                Accept <a href="">terms and conditions</a>terms and conditions
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="futureCampaigns" id="futureCampaigns">
                                I want to be informed of future campaigns and offers
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</form>





<script type="text/javascript">
    $(document).ready(function () {
        $('#sticker').affix({
            offset: {
                top: 10
            }
        });

        var $body = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 10;

        $body.scrollspy({
            target: '#sticky-col',
            offset: navHeight
        });



        $(window).resize(function () {
            var sideBarNavWidth = $('#sticky-col').width() - parseInt($('#sticker').css('paddingLeft')) - parseInt($('#sticker').css('paddingRight'));
            //if($(window).width()>992){
            $('#sticker').css('width', sideBarNavWidth);
            //} 
        });
        //$(function () {
        //    var sideBarNavWidth = $('#sticky-col').width() - parseInt($('#sticker').css('paddingLeft')) - parseInt($('#sticker').css('paddingRight'));
        //    //if($(window).width()>992){
        //        $('#sticker').css('width', sideBarNavWidth);
        //    //}            
        //});

        $("#change-billing-address").submit(function () {
            return false;
        });

        $("#change-billing-address").on("click", function () {
            // Show cart-preview
            $('.billing-address-selected').toggleClass('hide-billing-address');
            $('.billing-address-edit').toggleClass('hide-billing-address');
            if ($("#change-billing-address").html() == 'SAVE BILLING ADDRESS') {
                $("#change-billing-address").html('CHANGE BILLING ADDRESS');
            } else {
                $("#change-billing-address").html('SAVE BILLING ADDRESS');
            }

            return false;
        });

    });
</script>
