
@{
    ViewBag.Title = "CompleteRegistration";
}


<div class="container body-margin">
    <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 cart-headline">
                <h2>Hello, please complete your registration.</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 cart-button">
                <button class="btn zinzino-btn" style="width: 100%">CANCEL</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 cart-button">
                <button class="btn zinzino-btn" style="width: 100%;">SAVE AND CHECKOUT</button>
            </div>
        </div>
        <div class="small-spacer"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-12">
                                <b style="font-size: 16px; line-height: 22px;">Personal information:</b>
                            </div>
                        </div>

                    </div>
                    <form>
                        <div class="panel-body">
                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Chosen market:
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Select language:
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cart-headline">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Chosen market:
                                    </div>
                                    <h2>Norway</h2>
                                    Not correct market? <a href="">Change</a>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Select language:
                                    </div>
                                    <select class="form-control">
                                        <option>Norsk</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12">
                                    Your information:
                                </div>
                            </div>
                            <div class="row cart-row">                                
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Your information:
                                    </div>
                                    <input type="text" placeholder="First name" class="form-control contact-form" />
                                    <input type="text" placeholder="Last name" class="form-control contact-form" />
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <input type="text" placeholder="Telephone" class="form-control contact-form" />
                                    <input type="text" placeholder="E-mail" class="form-control contact-form" />
                                </div>
                            </div>

                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Shipping address:
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Billing address:
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Shipping address:
                                    </div>
                                    <input type="text" placeholder="Street address" class="form-control contact-form" style="margin: 10px 0 0;" />
                                    <div style="display:table; width:100%;">
                                        <div style="display:table-row;">
                                            <div style="display:table-cell; width: 30%; padding-right: 5px;"><input type="text" placeholder="Zip" class="form-control contact-form" /></div>
                                            <div style="display:table-cell; width: 70%; padding-left: 5px;"><input type="text" placeholder="City" class="form-control contact-form" /></div>
                                        </div>
                                    </div>
                                 </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="cart-header-mobile" style="padding-top:20px;">
                                        Billing address:
                                    </div>
                                    <label><input type="checkbox" /> Same as shipping address</label>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 cart-headline">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 cart-button">
                <button class="btn zinzino-btn" style="width: 100%">CANCEL</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 cart-button">
                <button class="btn zinzino-btn" style="width: 100%;">SAVE AND CHECKOUT</button>
            </div>
        </div>
    </div>

    <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>

</div>


