
@{
    ViewBag.Title = "ContentPage";
}

@*<div class="container-fluid body-banner-margin">
    <div class="clearfix"></div>
    <div class="col-sm-12 bubble-background bubble-banner" style="height: 300px; background-image: url(/Content/images/ZZ-frontpage-1.jpg);">
        <p></p>
    </div>
</div>*@
<div class="container body-margin">
    @Html.Partial("Partials/_SubMenu")
    <div class="col-sm-8 col-md-9">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">

                    <div class="row content-row">
                        <div class="col-sm-12">
                            <img src="~/Content/images/ZZ-frontpage-1.jpg" style="width: 100%; margin: 40px 0 20px;">

                            <h1>ABOUT ZINZINO</h1>
                            <p class="preamble">
                                Zinzinos Balance products contain a unique combination of fish and olive oil, which adjusts the fatty acid balance

                                in the body in just 120 days. We’ve put a big focus on the products to taste good and be a natural part of your daily

                                diet. A simple blood test for home use reveals your balance values.
                            </p>
                            <p>
                                Since 2005 we have offered quality products to people whom value health, the environment and everyday luxury. Zinzino applies this same quality

                                standard to our way of doing business..

                                <h2>Our Journey</h2>

                                Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                                tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                            </p>
                            <p>
                                Increasing numbers of doctors and scientists have given alarm for a balanced omega-6/omega-3 ratio. Zinzino’s ‘Balance Initiative’ offers people a

                                simple way to determine their 6:3 ratio with our home sample collection kit, i.e. Balance Test.

                                <h3>A small title is important</h3>

                                Our customers send their samples to an approved laboratory for analysis. Then by consuming our quality balance products, they can adjust their

                                omega 6:3 ratio to optimal levels, as recommended by health-authorities.

                                In fall 2013, we proudly bring our company and unique Balance Initiative from eight northern European countries to the United States.

                                <ol class="zz-list">
                                    <li>
                                        Zinzino continues to expand and enhance the lives of more people in every new market.
                                    </li>
                                    <li>
                                        If you would like to get in touch with us or learn more about Zinzino.
                                    </li>
                                    <li>
                                        please contact us by phone, mail or email.
                                    </li>
                                    <li>
                                        You can find the contact information under Contact on this website.
                                    </li>
                                </ol>

                            </p>
                            <p><br /><button class="btn zinzino-btn">READ MORE</button></p>


                            <blockquote>
                                <p>Zinzino values personal connection between our sales consultants and customers. We do not market our products through stores, television, radio or print media.</p>
                                <footer>Happy customer</footer>
                            </blockquote>
                        </div>
                    </div>


                    <div class="row content-row">
                        <div class="col-sm-12">
                            <hr />
                            <h2>Our Journey</h2>
                        </div>
                        <div class="col-sm-6">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines.
                        </div>
                        <div class="col-sm-6">
                            In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                    </div>

                    <div class="row content-row">
                        <div class="col-sm-12">
                            <hr />
                            <h2>Our Journey</h2>
                        </div>
                        <div class="col-sm-8">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                        <div class="col-sm-4">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                    </div>

                    <div class="row content-row">
                        <div class="col-sm-12">
                            <hr />
                            <h2>Our Journey</h2>
                        </div>
                        <div class="col-sm-4">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                        <div class="col-sm-4">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                        <div class="col-sm-4">
                            Our journey began with premier Belgian/French Rombouts-Malongo coffee and home expresso machines. In fall 2012, we added a Balance Initia-
                            tive through a partnership with <a href="">Bioactive Foods of Norway</a>.
                        </div>
                    </div>

                    <div class="row content-row">
                        <div class="col-sm-12">
                            <img src="~/Content/images/ZZ-frontpage-1.jpg" style="width: 100%; margin: 40px 0 20px;">
                        </div>
                    </div>

                    <div class="row content-row">
                        <div class="col-lg-12">

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-content">
                                    <div class="panel-heading">
                                        <div style="position: relative; width: 100%; height: 100%">
                                            <a class="panel-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Product details</a>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h3>Supplement with Omega-3 fatty acid and vitamin D</h3>
                                            <p>
                                                BalanceOil Capsules are exactly what they sounds like:BalanceOil, conveniently packaged in capsules that
                                                optimize and maintain a healthy ratio*. The oil consists of the essential Omega-3 fatty acids EPA and DHA from
                                                fish oil and polyphenols from extra virgin olive oil. With BalanceOil Capsules, it is easy to get in balance
                                                and keep it. You don’t need any dosage tools and you avoid making dishes dirty, which makes them perfect
                                                for bringing with you when traveling. Just pack the number of capsules that you need and save space in your bag.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-content">
                                    <div class="panel-heading">
                                        <div style="position: relative; width: 100%; height: 100%">
                                            <a class="panel-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Product details</a>
                                        </div>

                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <h3>Supplement with Omega-3 fatty acid and vitamin D</h3>
                                            <p>
                                                BalanceOil Capsules are exactly what they sounds like:BalanceOil, conveniently packaged in capsules that
                                                optimize and maintain a healthy ratio*. The oil consists of the essential Omega-3 fatty acids EPA and DHA from
                                                fish oil and polyphenols from extra virgin olive oil. With BalanceOil Capsules, it is easy to get in balance
                                                and keep it. You don’t need any dosage tools and you avoid making dishes dirty, which makes them perfect
                                                for bringing with you when traveling. Just pack the number of capsules that you need and save space in your bag.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-content">
                                    <div class="panel-heading">
                                        <div style="position: relative; width: 100%; height: 100%">
                                            <a class="panel-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Product details</a>
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <h3>Supplement with Omega-3 fatty acid and vitamin D</h3>
                                            <p>
                                                BalanceOil Capsules are exactly what they sounds like:BalanceOil, conveniently packaged in capsules that
                                                optimize and maintain a healthy ratio*. The oil consists of the essential Omega-3 fatty acids EPA and DHA from
                                                fish oil and polyphenols from extra virgin olive oil. With BalanceOil Capsules, it is easy to get in balance
                                                and keep it. You don’t need any dosage tools and you avoid making dishes dirty, which makes them perfect
                                                for bringing with you when traveling. Just pack the number of capsules that you need and save space in your bag.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row content-row">
                        <div class="col-sm-12">
                            <h3>Contact us</h3>
                            <hr style="margin: 5px 0;" />
                        </div>
                        <form>
                            <div class="col-sm-4">
                                <input type="text" class="form-control contact-form" placeholder="First name" />
                                <input type="text" class="form-control contact-form" placeholder="Last name" />
                                <input type="text" class="form-control contact-form" placeholder="E-mail" />
                                <input type="text" class="form-control contact-form" placeholder="Telephone" />
                                <select class="form-control contact-form">
                                    <option value="">What is the message regarding?</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control contact-form" style="height: 190px;" placeholder="Please write your message"></textarea>
                            </div>
                            <div class="col-sm-12" style="text-align: right;">
                                <input type="submit" class="btn zinzino-btn" value="SEND" style="padding: 0 40px;" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>