
@{
    ViewBag.Title = "Specials";
}

<div class="col-sm-12">
    <pre>
                &lt;div class="col-sm-6 bubble-background" style="height: 50vh; background-image: url(/Content/images/Fall-4.gif);"&gt;
                    &lt;p&gt;&lt;/p&gt;
                &lt;/div&gt;
                    &lt;div class="col-sm-6 bubble-left-arrow" style="height: 50vh; background-color: #d9d0ab;"&gt;
                    &lt;div class="bubble-content"&gt;
                    &lt;h3&gt;BALANCE&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a nibh eu sapien pharetra lacinia ac venenatis nisl. Nunc non dolor elit. Aenean vulputate dapibus massa sed congue. Curabitur varius sit amet purus quis mollis. Mauris diam magna, suscipit vel risus eget.&lt;/p&gt;
                    &lt;a href=""&gt;SHOP NOW&lt;/a&gt; &lt;span id="divider"&gt;|&lt;/span&gt; &lt;a href=""&gt;START ORDERS&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                    &lt;div class="col-sm-6 <b style="font-size:1.2em;">col-sm-push-6</b> bubble-background" style="height: 50vh; background-image: url(/Content/images/Fall-4.gif);"&gt;
                    &lt;p&gt;&lt;/p&gt;
                &lt;/div&gt;
                    &lt;div class="col-sm-6 <b style="font-size:1.2em;">col-sm-pull-6</b> bubble-right-arrow" style="height: 50vh; background-color: #96b27a;"&gt;
                    &lt;div class="bubble-content"&gt;
                    &lt;h3&gt;BEVERAGES&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a nibh eu sapien pharetra lacinia ac venenatis nisl. Nunc non dolor elit. Aenean vulputate dapibus massa sed congue. Curabitur varius sit amet purus quis mollis. Mauris diam magna, suscipit vel risus eget.&lt;/p&gt;
                    &lt;a href=""&gt;SHOP NOW&lt;/a&gt; &lt;span id="divider"&gt;|&lt;/span&gt; &lt;a href=""&gt;START ORDERS&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </pre>
    <div class="col-sm-6 bubble-background" style="height: 50vh; background-image: url(/Content/images/Fall-4.gif);">
        <p></p>
    </div>
    <div class="col-sm-6 bubble-left-arrow" style="height: 50vh; background-color: #d9d0ab;">
        <div class="bubble-content">
            <h3>BALANCE</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a nibh eu sapien pharetra lacinia ac venenatis nisl. Nunc non dolor elit. Aenean vulputate dapibus massa sed congue. Curabitur varius sit amet purus quis mollis. Mauris diam magna, suscipit vel risus eget.</p>
            <a href="">SHOP NOW</a> <span id="divider">|</span> <a href="">START ORDERS</a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-push-6 bubble-background" style="height: 50vh; background-image: url(/Content/images/Fall-4.gif);">
        <p></p>
    </div>
    <div class="col-sm-6 col-sm-pull-6 bubble-right-arrow" style="height: 50vh; background-color: #96b27a;">
        <div class="bubble-content">
            <h3>BEVERAGES</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a nibh eu sapien pharetra lacinia ac venenatis nisl. Nunc non dolor elit. Aenean vulputate dapibus massa sed congue. Curabitur varius sit amet purus quis mollis. Mauris diam magna, suscipit vel risus eget.</p>
            <a href="">SHOP NOW</a> <span id="divider">|</span> <a href="">START ORDERS</a>
        </div>
    </div>
</div>

