
@{
    ViewBag.Title = "YourAccount";
}
<form>
    <div class="container body-margin">



        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="col-sm-12" style="height: 220px; ">
                        <div class="circular-image-full-width" style="background: url(https://lh5.ggpht.com/cVqANmHIXz9dMwoKyECl4QI6BbYUD2GfUXjIk7pthch4JSlJziZn0oQ-22SGh_id8TnM=w300-rw) no-repeat"></div>
                    </div>
                    <div class="small-spacer" style="clear:both;"></div>
                    <button class="btn zinzino-btn" style="width:100%">CHANGE IMAGE</button>
                    <div class="small-spacer"></div>

                    <b>Lisa Eileen Nordmann Eriksen</b><br />
                    <b>Oslo, NO</b><br />
                    ID# 7799482703<br />
                    <a href="">www.izinzino.com/danielrondung</a>

                    <div class="spacer"></div>

                    <ul class="ln-nav ln-nav-list">
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Your account</b></span> </a>
                        </li>
                        <li class="init-un-active"> 
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>News</b></span> </a> 
                        </li>
                        <li class="init-un-active active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Your details</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Orders</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Autoorders</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Zinzino 4 Free</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Sign out</b></span></a>
                        </li>
                    </ul>

                    <div class="spacer" style="clear:both;"></div>
                    <button class="btn zinzino-btn" style="width:100%">REGISTER NEW CUSTOMER</button>

                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            <div class="row cart-headline">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <h2 class="nomargin">Your details</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                </div>
                <div class="col-xs-12"><hr style="margin:10px 0 0 0;" /></div>
            </div>
            <div class="small-spacer"></div>
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">Personal information:</b>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row cart-row">
                                <div class="col-md-6">

                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            First name
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Last name
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Password
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" value="password" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Phone number
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            E-mail
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Language
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>English</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-spacer"></div>
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b style="font-size: 16px; line-height: 22px;">Addresses</b>
                                </div>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="clearfix"></div>
                            <div class="row cart-header" style="padding-top:20px;">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Shipping address:
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    Billing address:
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-md-6">

                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Address
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Post code
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            City
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Address
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            Post code
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            City
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row cart-row">
                                <div class="col-md-6">
                                    <div class="row cart-row">
                                        <div class="col-md-3">
                                            
                                        </div>
                                        <div class="col-md-9">
                                            <button class="btn zinzino-btn" style="width: 100%">ADD NEW ADDRESS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-6 cart-headline">

                </div>
                <div class="col-xs-12 col-sm-push-6 col-sm-6 col-md-push-3 col-md-3 cart-button">
                    <button class="btn zinzino-btn" style="width: 100%;">SAVE CHANGES</button>
                </div>
                <div class="col-xs-12 col-sm-pull-6 col-sm-6 col-md-pull-3 col-md-3 cart-button">
                    <button class="btn zinzino-btn" style="width: 100%">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</form>
