
@{
    ViewBag.Title = "YourAccount";
}
<form>
    <div class="container body-margin">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="col-sm-12" style="height: 220px; ">
                        <div class="circular-image-full-width" style="background: url(https://lh5.ggpht.com/cVqANmHIXz9dMwoKyECl4QI6BbYUD2GfUXjIk7pthch4JSlJziZn0oQ-22SGh_id8TnM=w300-rw) no-repeat"></div>
                    </div>
                    <div class="small-spacer" style="clear:both;"></div>
                    <button class="btn zinzino-btn" style="width:100%">CHANGE IMAGE</button>
                    <div class="small-spacer"></div>

                    <b>Lisa Eileen Nordmann Eriksen</b><br />
                    <b>Oslo, NO</b><br />
                    ID# 7799482703<br />
                    <a href="">www.izinzino.com/danielrondung</a>

                    <div class="spacer"></div>

                    <ul class="ln-nav ln-nav-list">
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Your account</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>News</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Your details</b></span> </a>
                        </li>
                        <li class="init-un-active active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Orders</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Autoorders</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Zinzino 4 Free</b></span> </a>
                        </li>
                        <li class="init-un-active">
                            <a class="submenu-link" href="javascript:void(0)"> <span class="ln-menu-text"><b>Sign out</b></span></a>
                        </li>
                    </ul>

                    <div class="spacer" style="clear:both;"></div>
                    <button class="btn zinzino-btn" style="width:100%">REGISTER NEW CUSTOMER</button>

                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

            <div class="row cart-headline">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <h2 class="nomargin">Your orders</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                </div>
                <div class="col-xs-12"><hr style="margin:10px 0 0 0;" /></div>
            </div>
            <div class="small-spacer"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4 class="nomargin">Search your orders:</h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" style="float: left;" placeholder="Order #...">
                        <span class="input-group-addon" style="width: 35px; float: left;"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="small-spacer"></div>


            <div class="row cart-row">
                <div class="col-xs-12">
                    <div class="order-links">
                        <div class="order-link">
                            <a href="">Open orders</a>
                        </div>
                        <div class="order-link">
                            <a href="" class="active">Shipped orders</a>
                        </div>
                        <div class="order-link">
                            <a href="">Declined orders</a>
                        </div>
                        <div class="order-link">
                            <a href="">Cancelled orders</a>
                        </div>
                        <div class="order-link">
                            <a href="">All orders</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row cart-header hidden-xs">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            Order
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Order date
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Paid date
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Due date
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Total
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Tracking
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            View/Print
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            Status
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart-row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Order
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            0569274
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Order date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            06.06.2016
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Paid date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            &nbsp;
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Due date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            07.06.2016
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Total
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            3465,00 NOK
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Tracking
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <span class="glyphicon glyphicon-transfer"></span>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            View/Print
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <span class="glyphicon glyphicon-search" style="padding-right: 15px;"></span>
                                            <span class="glyphicon glyphicon-print"></span>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Status
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            PAID
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row cart-row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Order
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            0569274
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Order date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            06.06.2016
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Paid date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            &nbsp;
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Due date
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            07.06.2016
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Total
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            3465,00 NOK
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Tracking
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <span class="glyphicon glyphicon-transfer"></span>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            View/Print
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <span class="glyphicon glyphicon-search" style="padding-right: 15px;"></span>
                                            <span class="glyphicon glyphicon-print"></span>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 hidden-md hidden-lg hidden-xl">
                                            Status
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                            <a href="">Pay for order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-12"><hr style="margin:0 0 30px 0;" /></div>
                <div class="col-xs-12 col-sm-12 col-md-12 cart-headline" style="margin-bottom: 15px;">
                    <h2>Please <span class="accent-color">verify</span> your Start Kit order subscription</h2>
                    <h5 style="font-weight:600">In order to verify your subscription, please enter the code you received through SMS.</h5>

                </div>
                <div class="col-xs-7 col-sm-7 col-md-3">
                    <input type="text" class="form-control" placeholder="Verification code" style="height: 24px;" />
                </div>
                <div class="col-xs-5 col-sm-5 col-md-2">
                    <button class="btn zinzino-btn">VERIFY</button>
                </div>
                <div class="col-md-12"><hr style="margin:30px 0 40px 0;" /></div>
            </div>


        </div>

    </div>
</form>

